<!-- index_atendente.html.erb -->
<h1>Bem-vindo, atendente!</h1>
<p>Aqui está o painel de controle com todas as reservas, clientes, e quartos.</p>

<h1>Dashboard do Atendente</h1>

    <table class="table table-striped table-hover mt-4">
  <thead class="table-dark">
    <tr>
      <th>Quarto</th>
      <th>Check-in</th>
      <th>Check-out</th>
      <th>Status</th>
      <th>Cliente</th>
    </tr>
  </thead>
  <tbody>
    <% @reservas.each do |reserva| %>
      <tr>
        <td><%= reserva.quarto.numero %></td>
        <td><%= reserva.check_in.strftime('%d/%m/%Y') %></td>
        <td><%= reserva.check_out.strftime('%d/%m/%Y') %></td>
        <td><%= reserva.status || 'Confirmada' %></td>
        <td><%= reserva.user.nome %></td>
      </tr>
    <% end %>
  </tbody>
</table>

    