<div class="dashboard-atendente">
  <div class="dashboard">
    <aside class="sidebar">
      <h2>Olá, <%= current_user.username.split.first.capitalize %>!</h2>
      <div class="separador"></div>
      <nav>
        <ul>
          <li><i class="icon">📋</i> Reservas</li>
          <li><i class="icon">➕</i> <%= link_to 'Nova Reserva', new_reserva_path, class: 'text-white', style: 'text-decoration: none;' %></li>
          <li><i class="icon">👤</i> <%= link_to 'Novo Cliente', new_user_path, class: 'text-white', style: 'text-decoration: none;' %></li>
        </ul>
      </nav>
      <%= link_to 'Sair', logout_path, method: :delete, class: 'logout-btn' %>
    </aside>

    <div class="content">
      <div class="tabela-reservas">
        <table>
          <thead>
            <tr>
              <th>Quarto</th>
              <th>Check-in</th>
              <th>Check-out</th>
              <th>Status</th>
              <th>Cliente</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <% @reservas.each do |reserva| %>
              <tr id="reserva_<%= reserva.id %>">
                <td><%= reserva.quarto.numero %></td>
                <td><%= reserva.check_in.strftime('%d/%m/%Y') %></td>
                <td><%= reserva.check_out.strftime('%d/%m/%Y') %></td>
                <td>
                  <span class="badge <%= reserva.status == 'Pendente' ? 'pendente' : 'confirmada' %>">
                    <%= reserva.status || 'Confirmada' %>
                  </span>
                </td>
                
                <td><%= reserva.user&.username || "Cliente não identificado" %></td>
                <td class="acoes">
                  <%= link_to edit_reserva_path(reserva), class: 'btn-editar' do %>
                    <i class="fa fa-edit" data-bs-toggle="tooltip" title="Editar"></i>
                  <% end %>
                  <%= link_to reserva_path(reserva),
                              method: :delete,
                              remote: true,
                              data: { confirm: 'Tem certeza que deseja excluir esta reserva?' },
                              class: 'btn-cancelar' do %>
                    <i class="fa fa-trash" data-bs-toggle="tooltip" title="Excluir"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
