
<div class="login-container">
  <div class="login-card">
    <h1>Login</h1>

    <%= form_with(url: login_path, local: true, class: "login-form") do |form| %>
      <div class="input-group">
        <%= form.label :email, "E-mail" %>
        <%= form.email_field :email, class: "input-field", required: true %>
      </div>

      <div class="input-group">
        <%= form.label :password, "Senha" %>
        <%= form.password_field :password, class: "input-field", required: true %>
      </div>

      <div class="action-group">
        <%= form.submit "Entrar", class: "login-button" %>
      </div>
    <% end %>

    <%= link_to "Esqueceu sua senha?", "#", class: "forgot-password" %>
    <%= link_to "Cadastre-se", signup_path, class: "btn btn-primary" %>


  </div>
</div>
