<h1>Novo Usu치rio</h1>

<!- verficacao de carregamento da pagina corretamente  -->
<%= debug params %> 



<%= form_with model: @user, local: true do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "erro") %> proibiu este usu치rio de ser salvo:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= form.label :username, "Usu치rio" %>
  <%= form.text_field :username %>  
  </div>

  <div class="field">
    <%= form.label :email, "E-mail" %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :password, "Senha" %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, "Confirmar Senha" %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit "Criar Usu치rio" %>
  </div>
<% end %>

<%= link_to 'Voltar', root_path %>
