
<h1>Nova Reserva</h1>

<% if @reserva.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= pluralize(@reserva.errors.count, "erro") %> proibiu esta reserva de ser salva:</h4>
    <ul>
      <% @reserva.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!--CAMPOS DE DATA DE ENTRADA -->
<%= form_with model: @reserva, local: true do |f| %>
  <div class="mb-3">
    <%= f.label :check_in, "Data de Entrada" %>
    <%= f.datetime_local_field :check_in, class: "form-control" %>
  </div>


<!--CAMPOS DE DATA DE SAIDA-->
  <div class="mb-3">
    <%= f.label :check_out, "Data de Saída" %>
    <%= f.datetime_local_field :check_out, class: "form-control" %>
  </div>

  <!--CAMPOS DE SELECIONAR O QUARTO-->
<div class="mb-3">
  <%= f.label :quarto_id, "Quarto" %>
  <%= f.collection_select :quarto_id, Quarto.all, :id, :numero, prompt: "Selecione um quarto", class: "form-control" %>
</div>

<!--CAMPOS DE NÚMERO DE PESSOAS -->
<div class="mb-3">
  <%= f.label :numero_pessoas, "Número de Pessoas" %>
  <%= f.number_field :numero_pessoas, min: 1, class: "form-control", placeholder: "Ex: 2" %>
</div>

<!--CAMPOS DE STATUS -->
<div class="mb-3">
  <%= f.label :status, "Status" %>
  <%= f.select :status, ["Pendente", "Confirmada", "Cancelada"], class: "form-control" %>
</div>


<!--CAMPO BOTAO DE RESERVA-->
  <%= f.submit "Criar Reserva", class: "btn btn-primary" %>
<% end %>


<!--CAMPO BOTAO DE RETORNAR A TELA-->
<%= link_to "Voltar", reservas_path, class: "btn btn-secondary mt-3" %>
