

<h<h1>Meu Perfil</h1>

<p>
  <strong>Nome:</strong>
  <%= @user.nome.presence || @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @user.cpf %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @user.phone %>
</p>

<!-- Links de ação -->
<%= link_to 'Editar Perfil', edit_user_path(@user), class: 'btn btn-primary' %>
<%= link_to 'Voltar', dashboard_path, class: 'btn btn-secondary' %>
