<!DOCTYPE html>
<html>
  <head>
    <title>Bem vindo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="container">

  <h1>  Pagina inicial</h1>



  </div>
    <%= yield %>



    <footer>
    <p>&copy; 2025 Novo Horizonte Hotel</p>
    
  </footer>
  </body>
</html>
