<!DOCTYPE html>
<html>
  <head>
    <title>Pagina_inicial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
      <%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous">

  </head>

  <body>

<!--  criacao da Navbar da pagina web-->

<nav class="navbar navbar-expand-lg fixed-top navbar-dark menu" style="background-color: #120b9f;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Novo Horizonte Hotel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Reservas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#servicos">Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#contato">Contato</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>

     
    <!-- criacao do jumbotron topo  -->
      <div class="jumbotron text-center desc-top" style="background-image: url('<%= asset_path("topo.jpg") %>');">
        <h2><a name="inicio" class="link"></a></h2>
        <div class="container">
                <h1 class="display-4 mb-4">Temos a solução que a sua empresa precisa!</h1>
                <p class="lead mb-4">Aliquam erat volutpat. Nam facilisis scelerisque velit, sit amet imperdiet est mollis nec.</p>
                <p>
                    <a href="#contato" class="btn btn-primary btn-lg">MAIS DETALHES</a> 
                </p>
            </div>
      </div>

    <div class="jumbotron servicos">
            <h2><a name="servicos" class="link"></a></h2>   
            <div class="container text-center">
                <h2 class="display-4">Serviços</h2>
                <p class="lead pb-4">Nam facilisis scelerisque velit, sit amet imperdiet est mollis nec.</p>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="circulo centralizar shadow border border-info">
                       <i class="fas fa-hammer"></i>
                         </div>
                        <h2 class="mt-4 mb-4">Serviço um</h2>
                        <p> Aenean sit amet nisl ac ex lobortis condimentum. Aliquam sed ex id felis volutpat lobortis.</p>
                    </div>
                    <div class="col-lg-4">
                        <div class="circulo centralizar shadow border border-info">
                          <i class="fas fa-drafting-compass"></i>
                        </div>
                        <h2 class="mt-4 mb-4">Serviço dois</h2>
                        <p>Nunc id ante at sem consequat feugiat. Nulla venenatis nulla venenatis vulputate consequat.</p>
                    </div>
                    <div class="col-lg-4">
                        <div class="circulo centralizar shadow border border-info">
                          <i class="fas fa-paint-roller"></i> 
                        </div>
                        <h2 class="mt-4 mb-4">Serviço tres</h2>
                        <p>Donec dignissim purus sed mi interdum, eu tristique odio vulputate. Nam imperdiet scelerisque.</p>
                    </div>
                </div>
            </div>            
        </div>

      <!-- criacao dao formulario da area jumbotrom para contato  -->
      <div class="jumbotron contato" style="background-image: url('<%= asset_path("back_contato.jpg") %>');">
            <h2><a name="contato" class="link"></a></h2>
            <div class="container">
                <h2 class="display-4 mb-6 text-center">Contato</h2>

                <div class="row">
                <div class="col-lg-6">
                <h2 class="mt-4 mb-4">Você tem alguma pergunta?</h2>
                        <p>Endereço: Av. Winston Churchill</p>
                        <p>Ligue para nós: (XX) XXXXX-XXXX</p>
                        <p>Escreva para nós: webmotors.com.br</p>     

                </div>
                <div class="col-lg-6">
                <form>
                            <div class="form-group">
                                <label for="nome">Nome</label>
                                <input type="text" name="nome" class="form-control" id="nome" placeholder="Nome completo" required>
                            </div>
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input type="email" name="email" class="form-control" id="email" placeholder="Seu melhor e-mail" required>
                            </div>
                            <div class="form-group">
                                <label for="assunto">Assunto</label>
                                <input type="text" name="assunto" class="form-control" id="assunto" placeholder="Assunto da mensagem" required>
                            </div>
                            <div class="form-group">
                                <label for="conteudo">Conteúdo</label>
                                <textarea name="conteudo" class="form-control" id="conteudo" placeholder="Conteúdo da mensagem" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </form>
                </div>
              </div>
            


            </div>
        </div>





    <%= yield %>
  </body>
</html>
