
<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
  
<header>
  
  <!-- Remover ou comentar o código do link de logout -->
  <%#= link_to "Logout", logout_path, method: :delete, data: { turbo: false } %>
</header>

  <main>
    <%= yield %>
  </main>
</body>
</html>
